<!DOCTYPE html>
{% load static %}
<html>
<head>Canvas</head>
<body>
    <h1>Drawing shapes</h1>
    <canvas id="drawingCanvas" width="400" height="400" style="border: 2px solid black"></canvas>
    <div>
        <label for="shape">Choose a shape:</label>
        <select id="shape">
            <option value="rectangle">Rectangle</option>
            <option value="circle">Circle</option>
            <option value="line">Line</option>
        </select>
    </div>
    <button id="clearCanvas">Clear Canvas</button>
    <script src="{% static 'myapp/canvas.js' %}"></script>
</body>
</html>