<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.js"></script>
        <link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet" />
        <link href="https://unpkg.com/maplibre-gl@2.2.1/dist/maplibre-gl.css" rel='stylesheet' />
        <script src="https://unpkg.com/maplibre-gl@2.2.1/dist/maplibre-gl.js"></script>
        <script src="https://unpkg.com/@maplibre/maplibre-gl-leaflet@0.0.20/leaflet-maplibre-gl.js"></script>
        <script src="https://unpkg.com/Leaflet.TileLayer.MBTiles@1.0.0/Leaflet.TileLayer.MBTiles.js"></script>
        <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "scss/styles.css" %}'>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <div id="map"></div>
        <script src="{% static 'dist/bundle.js' %}"></script>  
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('{% static "myapp/service-worker.js" %}', {scope: '/static/myapp/'})
                    .then(function(registration) {
                        console.log('Service Worker registered with scope:', registration.scope);
                    })
                    .catch(function(error) {
                        console.error('Service Worker registration failed:', error);
                    });
            }
            var locIcon = L.icon({
                iconUrl: 'https://static-00.iconduck.com/assets.00/location-pin-icon-1536x2048-3kypjyl6.png',
                iconSize: [30, 40]
            });
            var container = L.map('map', {attributionControl: false}).setView([51.426, -0.553437], 16);
            L.control.attribution({prefix: false}).addTo(container);
            var tilesource_layer = L.tileLayer('{% static "myapp/egham/" %}' + '{z}/{x}/{y}.png', { 
                minZoom: 13, maxZoom: 16, tms: false, attribution: 'Created by QGIS'
            }).addTo(container);   
            let circle;
            container.locate({setView: true, watch: true}) 
            .on('locationfound', function(event) {
                var marker = L.marker([event.latitude, event.longitude], {icon: locIcon}).bindPopup("You are here");
                circle = L.circle([event.latitude, event.longitude], 200, {
                    weight: 1,
                    color: 'blue',
                    fillColor: '#cacaca',
                    fillOpacity: 0.1
                });
            container.addLayer(marker);
            container.addLayer(circle);
            })
            .on('locationerror', function(e){
                console.log(e);
            }); 
            var markers = L.markerClusterGroup();
            container.addLayer(markers);  
        </script>
        <section class="modalReport hidden" id="report" data-lat='' data-lng=''>
            <div class="flex">
              <button class="btn-close">⨉</button>
              <h3 id="reportMessage"></h3>
            </div>
            <label for="reportReason" class="col-form-label">Select a reason:</label>
            <select class="form-select" id="reportReason" name="reason">
              <option value="">--Select a Reason--</option>
              <option value="spam">Spam</option>
              <option value="abusive">Abusive Content</option>
              <option value="inappropriate">Inappropriate Content</option>
              <option value="false information">False Information</option>
              <option value="sensitive information">Sensitive Information</option>
            </select>
            <button class="btn btn-primary" id="reportSubmit">Submit</button>
          </section>
          <div class="overlay hidden"></div>
        {% include 'report-modal.html' %}
        <script type="module" src="{% static 'myapp/map.js' %}"></script>
    </body>
</html>