@import "../../../../node_modules/bootstrap/scss/bootstrap.scss"; 
$body-background: #f7f7f7; 
$form-background: #ffffff; 
$primary-color: #829fbd; 

#map {
  background: url("../background.jpg");
  background-size: 70%; 
}

header {
  background-color: #a7b4c1;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  padding-right: 5%;
  padding-left: 5%;
}

.modalReport {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modalReport .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#reportMessage {
  color: red;
  flex-grow: 1; 
  text-align: center; 
}

.modalReport input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modalReport p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.hidden {
  display: none;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 0;
}

.report-icon {
  position: relative;
  top: 0px;
  right: 15px;
}

#map {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-background;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.form-signin {
  background-color: $form-background;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 330px;
  padding: 2rem;
  margin: auto;

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .form-floating {
    margin-bottom: 1rem;

    input {
      border-radius: 0.25rem;
      &:focus {
        z-index: 2;
        border-color: $primary-color;
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
      }
    }

    label {
      line-height: 1.5;
    }
  }

  button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: darken($primary-color, 5%);
      border-color: darken($primary-color, 5%);
    }
  }
}