<!DOCTYPE html>
{% load static %}
<html data-bs-theme="light">
    <head>
        <link rel="stylesheet" href='{% static "scss/styles.css" %}'>
    </head>
    <body class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="container">
            <form class="form-signin" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
            </form>
        </div>
    </body>
</html>